{% assign nav = site.data.navigation %}
{% assign lang_prefix = "/en" %}
{% assign home_label = "Homepage" %}
{% assign switch_href = "/" %}
{% assign switch_label = "中文" %}
{% if page.lang == 'zh' %}
  {% assign nav = site.data.navigation-zh %}
  {% assign lang_prefix = "" %}
  {% assign home_label = "主页" %}
  {% assign switch_href = "/en/" %}
  {% assign switch_label = "EN" %}
{% endif %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg masthead__menu-home-item"><a href="{{ lang_prefix }}/#about-me">{{ home_label }}</a></li>
          {% for link in nav.main %}
            <li class="masthead__menu-item"><a href="{{ lang_prefix }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
          <li class="masthead__menu-item lang-switch"><a href="{{ switch_href }}">{{ switch_label }}</a></li>
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
